{
    "backend_server_addresses": [
        "http://avprimary.yourorg.edu:8080", 
        "http://192.168.1.2:8080"
    ],
    "backend_server_timeout": 5,
    "ntp_primary": "ntp1.yourorg.edu",
    "ntp_secondary": "pool.ntp.org",
    "rpc_server_port": 8080,
    "rpc_server_interface": "LAN"
    "log_to_disk": false
}