{
    "backend_server_addresses": [
        "http://avprimary.yourorg.edu:8080", 
        "http://192.168.1.2:8080"
    ],
    "check_backend_server_interval": 5,
    "backend_server_timeout": 2,
    "server_search_interval": 2,
    "backend_server_offline_gui_popup": "Backend_Server_Offline"
    "ntp_primary": "pool.ntp.org",
    "rpc_server_port": 8080,
    "rpc_server_interface": "LAN"
    "log_to_disk": false
}